<div class="row container how-we-work">

	<div class="row benefits">
		<div class="col-lg-12">
			<h3>Beneficios laborales</h3>
			<p>
				Ahora que ya conoces nuestras herramientas es hora de que descubras los beneficios que Doctoralia tiene para ti: formación, seguro médico, Game Zone.... Si tienes cualquier duda con alguno de ellos, contacta con Mariona. ¡Ella sabrá ayudarte!
			</p>
			<ul>
				<li>
					<div style="background-image: url('assets/images/sanitas.png');"></div>
					<p>
						<strong>Seguro médico:</strong>
						Nuestro seguro médico es Sanitas: con él podrás realizar todas las gestiones relacionadas con el ámbito de la salud. Si aún no tienes tu tarjeta, muy pronto la recibirás en tu domicilio.
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/formacion.png');"></div>
					<p>
						<strong>Formación:</strong>
						Los lunes, miércoles y jueves realizamos clases de formación de inglés. Existen varios grupos (todos en horario de 13.30h a 15h) a los que puedes apuntarte. Si quieres unirte y aprender solo tienes que decírnoslo.
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/nevera2.png');"></div>
					<p>
						<strong>La nevera (tu nueva mejor amiga):</strong>
						¿Sabes qué es un planchadito? De la majestuosa combinación de jamón york, queso y pan blanco nace uno de los mayores tesoros de Doctoralia: el planchadito. En la nevera de la izquierda encontrarás todo tipo de comida y bebida: puedes coger lo que quieras. Y, si necesitas guardar tuppers, la nevera de la derecha será como tu caja fuerte: ¡nadie te cogerá nada!
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/yoga.png');"></div>
					<p>
						<strong>Yoga:</strong>
						¿Te gustaría ponerte en forma y mejorar tu flexibilidad? Que no te dé vergüenza si nunca has hecho yoga antes: Mariona te guiará durante el proceso y aprenderás a hacer posturas imposibles desde el primer día. ¡Ya verás qué fácil! 
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/ocio.png');"></div>
					<p>
						<strong>Ocio (Cartas, Pádel y Game Zone):</strong>
						Las aventuras de Doctoralia continúan más allá de las horas de trabajo. A la hora de comer podrás divertirte con el juego de cartas de UNO (junto a la cocina) o echar unas partidas al Mario Kart en la Game Zone. Para los más deportistas, también jugamos a padel al menos una vez a la semana.
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/hackathon.png');"></div>
					<p>
						<strong>Hackathon (último viernes del mes)</strong>
						El último viernes del mes es un día diferente. De ti depende qué quieres hacer ese día: unirte a otros compañeros para realizar un proyecto en conjunto, montarlo por tu cuenta o, incluso, aprovechar para formarte. ¡Lo importante es que te diviertas!
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/hackathon.png');"></div>
					<p>
						<strong>Gimnasio</strong>
						Desde Doctoralia, a través de Gymforless, te ofrecemos la posibilidad de ir a cientos de gimnasios de Barcelona desde solo 9,99€ al mes. Podrás ir siempre al mismo gimnasio o, si lo prefieres, a uno diferente cada día, ¡incluso a los que tienen spa! Además, te regalaremos 2 descuentos del 30% de por vida para quien tú quieras. ¡Así da gusto ponerse en forma!
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h3>Documentación útil</h3>
			<p>
				En este apartado encontrarás todos esos fascinantes documentos que siempre quisiste leer: “Prevención de Riesgos Laborales”, “Convenio de empresa”... No te preocupes: a todos nos da palo. ¡Guárdalos y ya los leerás cuando puedas!
			</p>
			<ul>
				<li>
					<a href="#">Prevención de Riesgos Laborales (PDF)</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row next-section">
		<div class="col-lg-12">
			<a ng-href="/#/rsc" class="btn">Siguiente</a>
		</div>
	</div>


</div>