<div class="row container how-we-work">
	<div class="row bye">
		<div class="col-lg-12">
			<p>
				¡Esperamos que esta guía te haya resultado de ayuda!
			</p>
			<p>
				Mientras te acostumbras a tu nuevo lugar de trabajo y empiezas a sentirte como en casa, puedes seguirnos en Instagram en la cuenta <a href="https://www.instagram.com/we_are_doctoralia/" target="_blank">@we_are_doctoralia</a> y ver un poco más sobre nosotros.
			</p>
			<p>
				¡Y ya sabes que aquí nos tienes para lo que necesites!
			</p>
			<p>
				:)
			</p>
		</div>
	</div>


</div>