<div class="row container home">
	<div class="row">
		<div class="col-lg-6">
			<h1>Hola!</h1>
			<br/>
			<p>
				Estoy encantado de darte la bienvenida. Gracias por decidir dedicar a Doctoralia una parte importante de las horas de cada día :)
			</p>
			<p>
				Durante los próximos minutos vivirás una inmersión en el funcionamiento de la empresa para que te sea más fácil empezar a familiarizarte con nuestra forma de trabajar, ¡y de relajarnos también!
			</p>
			<br/>
			<p>
				Welcome!
			</p>
			<br/>
			<p>Albert</p>
		</div>
		<div class="col-lg-6">
			
		</div>
	</div>
	<div class="row next-section">
		<div class="col-lg-12">
			<a ng-href="/#/intro" class="btn">Siguiente</a>
		</div>
	</div>


</div>