<div class="row container how-we-work">

	<div class="row">
		<div class="col-lg-12">
			<h1>¿Cómo trabajamos?</h1>
			<p>
				En Doctoralia te habituarás muy rápido a la metodología de trabajo de tu equipo. Las herramientas con las que trabajamos son muy fáciles de usar pero, ante cualquier duda o imprevisto, ¡no dudes en levantar la mano!
			</p>
		</div>
	</div>
	<div class="row tools">
		<div class="col-lg-12">
			<h3>Nuestras herramientas</h3>
				<ul>
					<li>
						<div><span>BACK OFFICE - CRM:</span></div>						
						<p>
							Nuestra herramienta de gestión por excelencia. Todo aquello que puedes editar y consultar está aquí: usuarios, emails, bases de datos… En los próximos días alguno de nosotros te hará una pequeña formación. ¡Es muy fácil de usar, pero vale la pena que lo domines cuanto antes!
						</p>
					</li>
					<li>
						<div><span>ASANA:</span></div>
						<p>
							Imagina un lugar donde poder visualizar tus tareas para los próximos días, los proyectos que has asignado y las conversaciones que han ido sucediéndose. Ese lugar se llama Asana y, entre sus grandes éxitos, está el poder ver unicornios cada vez que completas una tarea. ¡Así da gusto trabajar!
						</p>
					</li>
					<li>
						<div><span>WOFFU:</span></div>
						<p>
							Aunque trabajar en Doctoralia es lo mejor que va a pasarte en la vida, ¿quién no necesita unas vacaciones? En Woffu podrás ver tus días libres disponibles (un total de 23 por año) y elegir cómodamente qué días quieres irte de vacaciones. ¡Te avisamos de que, para entonces, ya te echaremos de menos!
						</p>
					</li>
					<li>
						<div><span>HAPPYFORCE:</span></div>
						<p>
							¿Qué tal está siendo tu primer día? Para crear entre todos el mejor ambiente de trabajo necesitamos medir día a día nuestro estado de ánimo. En Happyforce podrás decir, a diario y de forma anónima, cómo te sientes. Anímate a hacer tu primer comentario: solo con tu ayuda seguiremos mejorando.
						</p>
					</li>
					<li>
						<div><span>KUDOS:</span></div>
						<p>
							Aunque no es una herramienta en sí, ¡es la forma más sencilla de hacer feliz a tus compañeros! Utiliza las tarjetas que encontrarás junto a <strong>People&Values</strong> para alegrarle el día a alguien, darle la enhorabuena por su trabajo o decirle que ese pastel de galletas y fresas era, sencillamente… maravilloso.
						</p>
					</li>
					<li>
						<div><span>HOSHINPLAN:</span></div>
						<p>
							¿Te gustaría conocer los objetivos globales de la compañía y ver en qué situación se encuentra cada equipo? Hoshinplan te muestra, con datos actualizados, los objetivos e indicadores de los diferentes equipos que forman Doctoralia. Para acceder, solo necesitas iniciar sesión con tu cuenta. 
						</p>
					</li>
				</ul>
		</div>
	</div> 

	<div class="row next-section">
		<div class="col-lg-12">
			<a ng-href="/#/benefits" class="btn">Siguiente</a>
		</div>
	</div>


</div>