<div class="dralia-login">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">				
				<h1>Bienvenido a Doctoralia</h1>
				<form class="dralia-login-form" ng-submit="login()">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="E-mail" ng-model="user.email">
						<input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password">
					</div>
					
					<button class="btn" type="submit">ENTRAR</button>
				</form>
			</div>
		</div>
	</div>
</div>