<div class="row container how-we-work">

	<div class="row benefits">
		<div class="col-lg-12">
			<h3>Responsabilidad Social Corporativa</h3>
			<p>
				En Doctoralia, además de estar comprometidos con las causas, estamos orgullosos de poder llevarlas a cabo con éxito. Pero no nos conformarnos: queremos más y, para conseguirlo, la mejor forma es que te contemos lo que hacemos. ¡Será un placer y un orgullo si quieres apuntarte a alguna de ellas!
			</p>
			<ul>
				<li>
					<div style="background-image: url('assets/images/Igualdad.png'); background-size: 80px;"></div>
					<p>
						<strong>Igualdad:</strong>
						En Doctoralia podemos decir con orgullo que somos un 50% de hombres y un 50% de mujeres. Lo que más nos importan son las personas, pero no podemos olvidarnos nunca de los números. Luchamos, además, por todas aquellas mujeres trabajadoras que están fuera de Doctoralia, por eso corremos (y seguiremos corriendo) cada año en la Cursa de la Dona.
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/Reciclaje.png');"></div>
					<p>
						<strong>Medio Ambiente:</strong>
						Para Doctoralia reciclar es muy importante, por eso te lo ponemos fácil: en las cocinas encontrarás diferentes contenedores para cada uno de los residuos que generamos (orgánico, plástico y papel). En el estante superior de la cocina, además, encontrarás un lugar donde depositar el vidrio y otro para dejar los tapones de plástico. <br/> <br/>
						Tú solo preocúpate de dejar cada cosa en el contenedor correspondiente. ¡Nosotros ya nos encargaremos de reciclarlo!
					</p>
				</li>
				<li>
					<div style="background-image: url('assets/images/Trailwalker.png');"></div>
					<p>
						<strong>Trailwalker:</strong>
						Lo que al principio parecía un reto, con el tiempo acabó convirtiéndose en todo un desafío: cumplir con el objetivo de andar 100km para recaudar fondos y evitar, así, que cientos de familias en África tengan que andar cada día para buscar agua.<br/> <br/>
						¿Lo conseguiremos? El próximo 16 de abril tendrá lugar la primera Trailwalker de Doctoralia, ¡pero el año que viene queremos más!
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row next-section">
		<div class="col-lg-12">
			<a ng-href="/#/bye" class="btn">Siguiente</a>
		</div>
	</div>


</div>